<!DOCTYPE html>
<html lang="nl">

  <head>
      <title>Pages with versions</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <link rel="stylesheet" title="default" href="./assets/styles/transition.css">
      <link rel="alternate stylesheet" title="generic" href="./assets/styles/generic.css">
      <link rel="shortcut icon" href="https://open.overheid.nl/cb-common/2.0.0/images/favicon.ico?v101"
          type="image/vnd.microsoft.icon">
      <link rel="stylesheet" href="./assets/styles/plooi.css">
  </head>

  <body>
    <h1>Pages with versions</h1>
    <h2>Version {{instanceVersion}}</h2>
    <redoc style="max-width: 105em; margin: 0 auto; display: block;">
      <script src="https://cdn.jsdelivr.net/npm/redoc@latest/bundles/redoc.standalone.js"> </script>
      <script>
          Redoc.init('./openapi.json', {
              expandDefaultServerVariables: true,
              simpleOneOfTypeLabel: false,
              maxDisplayedEnumValues: 5,
              sortTagsAlphabetically: true,
              sortOperationsAlphabetically: true,
              hideDownloadButton: true,
              theme: {
                spacing: {
                  sectionVertical: '1px'
                },
                colors: {
                  primary: {
                    main: '#154273'
                  },
                  text: {
                    primary: '#154273'
                  }
                },
                sidebar: {
                  backgroundColor: '#e5f1f9'
                },
                typography: {
                  fontSize: '1em',
                  color: '#154273'
                }
              }
          })
      </script>
    </redoc>

  </body>
</html>
