<!DOCTYPE html>
<html lang="nl">

  <head>
      <title>Pages with versions</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <link rel="stylesheet" title="default" href="./assets/styles/transition.css">
      <link rel="alternate stylesheet" title="generic" href="./assets/styles/generic.css">
      <link rel="shortcut icon" href="https://open.overheid.nl/cb-common/2.0.0/images/favicon.ico?v101"
          type="image/vnd.microsoft.icon">
      <link rel="stylesheet" href="./assets/styles/plooi.css">
  </head>

  <body>
    <h1>Pages with versions</h1>
    <h2><a href="{{homeVersion}}">Actieve, publieke, versie</a></h2>
    <h2>Overige versies</h2>
    <ul>
      {{#each otherVersions}}
        <li>
          <a href ="{{this}}">{{this}}</a>
        </li>
      {{/each}}
    </ul>

  </body>
</html>
